/**
 * Moritz Strohm <https://mstrohm.sirius.uberspace.de/sozial/profile/moeeee>
 **/


/* generic classes (for mobile and desktop) */

.MenuActivator:hover > .Menu
{
  display:block;
  visibility:visible;
  opacity:1;
}

.Menu
{
  display:block;
  visibility:hidden;
  z-index:1;
  opacity:0;
  position:absolute;
  border-radius:0em 0em 0.5em 0.5em;
  padding-bottom:0.25em;
  padding-left:0.5em;
  padding-right:0.5em;
  list-style-type:none;
  margin-top:0em;
  transition: all 0.25s linear;
}


.Box
{
  height:5em;
  width:15em;
  text-align:center;
}


.Headline
{
  text-align:center;
}

.Underline
{
  text-decoration:underline;
}

.BottomLine
{
  border-bottom:1px solid;
}

/* Rules for all media types */

h1, h2, h3
{
  text-align: center;
}

body
{
  margin:0em;
}

a
{
  text-decoration:none;
  font-weight:bold;
}

.JS
{
  /* we want HTML code that requires JavaScript to work to be only visible if JavaScript is enabled */
  display:none !important;
}

.Template
{
  display:none;
}

nav
{
  width:100%;
  display:block;
  position:fixed;
  z-index:1;
  padding-bottom:0.5em;
}


#PopupBackground
{
  visibility:hidden;
  opacity:0;
  width:100%;
  height:100%;
  z-index:1;
  background-color:#000;
  position:fixed;
}

.Smalltext, .SmallText
{
  font-size:0.7em;
}


/* ACL Popup */

#ACLResults
{
  margin:1em;
  height:60%;
  overflow-y:scroll;
  padding:0.5em;
  border-radius:1em;
}

.ACLItem
{
  float:left;
  max-width:15em;
  width:15em;
  max-height:3.5em;
  height:3.5em;
  border-radius:0.5em;
  margin:0.5em;
  padding:0.25em;
}

.ACLItem_Image
{
  width:3em;
  float:left;
  border-radius:0.5em;
  padding-left:0.25em;
  padding-top:0.25em;
}

.ACLItem_Text
{
  /*position:relative;
  left:4em;*/
  text-align:left;
  max-width:14.5em;
  max-height:1em;
  padding-right:0.5em;
}

.ACLItem_Name
{
  font-weight:bold;
  border-bottom:1px solid;
  max-height:1.1em;
  margin-left:4em;
}

.ACLItem_Visibility
{
  font-size:0.5em;
  max-width:11em;
  margin-left:4em;
}

/* only for development: here the colors are the same for every color scheme: */
.Debug
{
  font-weight:bold;
  font-size:1em;
  background-color:#000;
  color:#F00;
}

.PostBody img
{
  max-width: 95%;
}


.Popup
{
  position:fixed;
  visibility:hidden;
  opacity:0;
  left:10%;
  right:10%;
  top:10%;
  bottom:10%;
  padding-top:3%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:5%;
  border-radius:2em;
  z-index:2;
  text-align:center;
  font-size:1.25em;
}

.Popup *
{
  
  margin-bottom:0.5em;
}

.PopupActions
{
  float:right;
}


.PopupHeadline
{
  font-size: 2em;
  margin-bottom: 0.5em;
}


.PopupDescription
{
  font-size: 1.5em;
}

/* square profile images */

.ProfileCard
{
  width:20em;
  height:7em;
  border-radius:1em;
  text-align:center;
  float: left;
  margin:0.4em;
}

.ProfileCardImage
{
  width:6em;
  height:6em;
  border-radius:0.5em;
  margin-top:0.5em;
}

.ProfileCardLeft
{
  display:table-cell;
  float:left;
  width:7em;
}

.ProfileCardRight
{
  padding-top:0.5em;
  display:table-cell;
  width:13em;
  padding-right:1em;
}

.ProfileCardName
{
  max-width:14em;
  font-weight:bold;
  display: block;
}

.ProfileCardSubtitle
{
  font-size:0.7em;
  display: block;
}

.Title
{
  font-weight:bold;
}

.Event
{
  width:15em;
  max-width:15em;
  float:left;
  height:2.5em;
}

.EventList
{
  min-height:3.5em;
  display:table;
  width:97%;
}

.Padding
{
  padding:0.5em;
}

.Margin
{
  margin:0.5em;
}

.Float, .FloatL
{
  float:left;
}

.FloatM
{
  float:middle;
}

.Cell
{
  display:table-cell;
}

.Row
{
  display:table-row;
}

.BigText
{
  font-size:1.5em;
}

.Block
{
  display:block;
}


/* all inputs: */
input, textarea, .Textarea, select, .Button, .Field
{
  border:1px solid; /* special case since we can't add classes to some input fields (missing template names!) */
  padding:0.15em;
  margin:0.25em;
}

/* checkboxes (and their surroundings): */

input[type="checkbox"]
{
  opacity:0;
  float:left;
}

input[type="checkbox"] + label
{
  display:inline-block;
  float:left;
  height:1em;
  width: 1em;
  line-height:1em;
  margin-left:-1.3em;
  vertical-align: top;
  margin-right:1em;
}

input[type="checkbox"]:checked + label:before
{
  content: "✔";
}


.MainButton
{
  border:2px solid;
}

.ButtonImage
{
/* replaced with .SmallIcon .SmallText */
}

/* buttons and button-like elements: */
input[type="button"],
input[type="submit"],
input[type="select"],
select,
.Button
{
  font-weight: bold;
  text-align:center;
  min-width: 1em;
}

.FullWidth
{
  width:100;
}

.Center
{
  text-align: center;
}



/* navigation bar elements */

#FriendicaBanner
{
  font-size:2em;
  font-weight:bold;
}


/* OLD: logo-img and logo-text, to be replaced! */

#logo-img
{
  height:2em;
  position:relative;
  top:0.3em;
  margin-right:0.5em;
}
#logo-text
{
  font-weight:bold;
  font-size:200%;
}

.TextNavItem, #UserID
{
  padding-top:0.75em;
}

/*.NavItem
{
  display:block;
  margin-right:1%;
  vertical-align:middle;
  min-width:2.5em;
}*/

.RightNav, .Right, .FloatR
{
  float:right !important;
}


/* Icons */
.SmallIcon
{
  width:2em;
  height:2em;
}

.Icon
{
  width:5em;
  height:5em;
}

.BigIcon
{
  width:10em;
  height:10em;
}


/* profile_vcard.tpl: */

.ProfileName
{
  font-size:1em !important;
  font-weight:bold;
  margin-bottom:0.5em;
  text-align:center;
}

.ProfilePhoto
{
  margin-left:0.75em;
  border-radius:1em;
  width:80%;
}

.SideWidget, .Widget
{
  padding-bottom: 0.5em;
  margin-top:1em;
  text-align:center;
  border-bottom:1px solid;
}

.WidgetList
{
  list-style-type:none;
  padding-left:0;
}


.SideWidgetTitle
{
  font-weight:bold;
  width:6em;
}

.SideWidgetAction
{
  text-align:center;
  font-weight:bold;
}


/* new post fields */

#NewPost_Textarea
{
  height:8em;
}

#NewPost_Title, #NewPost_Textarea, .FullWidth
{
  width: calc(100% - 2em);
}

/* posts */

.Post
{
  margin-top:1em;
  margin-bottom:0.5em;
}

.Border
{
  border-width:1px;
  border-style:solid;
}

.RoundCorners
{
  border-radius:0.5em;
}

.PostHeader
{
  height:2.5em;
}

/* Post body and the things it contains */

.PostBody
{
  margin:0.5em;
  padding:0.5em;
}

/* we can't use our "super classes" on the elements in the post body
 * so we have to set the attributes in special rules
 */

.PostBody > blockquote, .PostBody > .shared_content, .PostBody > code
{
  display:block;
  border-left: 3px solid;
  margin:0.5em;
  padding:0.5em;
  border-radius:0.5em;
  
}

.PostBody > .shared_content, .PostBody > code
{
  font-size:0.9em;
  font-weight:normal;
  
}

.PostBody > code
{
  font-family: "Monospace";
}




.PostOwnerMenu
{
  left:2em;
  padding-left:0.5em;
  padding-right:0.5em;
  padding-bottom:0.25em;
  margin-top:0em;
  margin-left:1em;
  list-style-type:none;
  position:absolute;
  display:block;
  border-radius: 0em 0em 0.5em 0.5em;
}

.PostOwnerPhoto
{
  width:2em;
  border-radius:0.4em;
}

.PostOwnerInfo:hover .PostOwnerMenu
{
  display:block;
  visibility:visible;
  opacity:1;
}

.PostAction
{
  width:1em;
  display:inline;
}

.ActionComment
{
  margin:0.5em;
  padding:0.5em;
}

.ActionCommentForm .Textarea
{
  display:block;
  width:97%;
  max-width:97%; /* for browsers that allow resizing */
  height:4em;
}


/* general settings */

.Textarea
{
  padding:0.5em;
}


/*******************/
/* temporary fixes */
/*******************/

/* embedded event: we can't change this yet because there's no template for it,
  * so we have to reformat the elements */

.Event2
{
  float:left;
}

.vevent .event-summary
{
  font-weight:bold;
}


.oembed.video
{
  /* if this rule isn't presend a play button will be visible on top of the page if a video is embedded in a post or comment */
  display: none;
}

.InputField
{
  width:calc(100% - 1em);
}
  
.FormattedTextarea
{
  width:calc(100% - 2em);
  height:10em;
  text-align:left;
}

/*************************************/
/* special rules for desktop screens */
/*************************************/

@media screen and (min-width: 800px)
{
  .SideWidget
  {
    font-size:0.7em; 
  }
  
  .FieldRow
  {
    display:table-row;
  }
  
  .FieldCell
  {
    display:table-cell;
    padding-right: 0.5em;
    vertical-align:middle;
    padding-bottom: 0.25em;
  }
  
  .FieldTitle
  {
    /* the first child is typically a .FieldCell */
    width:30%;
  }
  
  

  /*.FieldCell + .FieldCell
  {
    width: 50%;
  }*/

  .FieldCell > div
  {
    margin-left: 0.5em;
  }

  
  nav
  {
    height:2.5em;
    padding-left:0.75em;
  }
  
  nav .SmallIcon
  {
    margin-top:0.2em;
  }

  #FriendicaBanner
  {
    min-width:6em;
    width:20%;
  }
  
  .NavItem
  {
    display: table-cell;
    min-width: 2.5em;
    padding-right: 0.5em;
    vertical-align: middle;
  }
  
  .NavSpacer
  {
    width: 10%;
  }
  
  #UserID
  {
    padding-top:1em;
  }
  
  /* panel on the left side*/
  aside
  {
    margin-left:1em;
    width:17%;
    margin-right:2em;
    display:block;
    position:absolute;
    top:1em;
    height:94%;
    padding-top:2em;
  }
  
  
  /* the main content: */
  section
  {
    display:block;
    position:absolute;
    top:2em;
    left:20%;
    width:60%;
    padding-left:1em;
    padding-right:1em;
    padding-top:1.5em;
    padding-bottom:2em;
  }
  
}


@media screen and (max-width: 799px)
{
  /* special rules for mobile devices and small desktop screens*/
  
  nav, aside, section
  {
    position:relative;
    display:block;
  }
  
  nav
  {
    text-align:center;
    margin-bottom:2em;
  }
  
  nav > *
  {
    position:relative;
    display:block;
    float:none;
  }
  
  .FieldRow, .FieldCell
  {
    display:table;
    padding-bottom:0.25em;
    text-align:center;
    width:100%;
  }
  
  .FieldDescription
  {
    margin-bottom:0.5em;
  }
  
  .NavItem
  {
    display:block;
    font-size:2em;
  }
  
  .NavItem.SmallText
  {
    font-size:0.7em;
  }
  
  .NavMenu
  {
    position:fixed;
    left:0.5em;
    right:0.5em;
  }
  
  .NavSpacer
  {
    display:none;
  }
  
  
  aside
  {
    display:block;
  }
  
  
  section
  {
    padding-left:1em;
    padding-right:1em;
  }
  
}