
/* settings for all elements: */
*
{
  border-radius:0px !important;
  font-family:"Monospace";
  font-weight: bold;
}

/* this is the main background */
.Background, body
{
  color:yellow;
  background-color:black;
  font-size: 0.85em;
}

/* colors for links */
.Link, a:link, a:visited
{
  color:cyan;
}

/* colors for hovering links */
.Link:hover, a:hover
{
  color:yellow;
  background-color:maroon;
}

/* layer 1,2 and 3 are elements that are grouped in one another.
 * So Layer1 elements are parents of Layer2 elements and so on*/
section, .Layer1
{
  background-color:navy;
}

.Layer2
{
  background-color:teal;
}

.Layer3
{
  background-color:teal;
}

/* code elements, quotes and reshares */
.PostBody > code, .PostBody > blockquote, .PostBody > q, .PostBody > .shared_content
{
  background-color:green;
  border-color:lime;
  color:lime;
}

/* every border has this color, except buttons */
.Border, .BottomLine
{
  border-color: #bbf;
}

/* special colors for menus */
.Menu
{
  color:yellow;
  background-color:navy;
}

/* text input fields: some can't be modified (missing template names), so there's input and textarea */
.Field, input, textarea, .Textarea
{
  background-color:silver;
  color:black;
}

/* colors for buttons (and their borders) */
.Button, a.Button
{
  border-color:fuchsia;
  background-color:purple;
  color: yellow;
}

/* colors for hovered buttons */
.Button:hover, a.Button:hover
{
  background-color:gray;
}

/* selected buttons and other selected elements */
.Selected, a.Button.Selected
{
  background-color:fuchsia;
  border-color:fuchsia;
}

/* each popup "window" has these colors */
.Popup
{
  color:cyan;
  background-color:navy;
}

/* navigation bar: */

nav
{
  color:lime;
  background-color: navy;
}

/*
.PostTitle, .Headline
{
  color: lime;
}

.PostHeader
{
  color:#FF0;
  background-color:gray;
}*/
