
/* this is the main background */
.Background, body
{
  color:#ff0;
  background-color:#000;
}

/* colors for links */
.Link, a:link, a:visited
{
  color:#f80;
}

/* colors for hovering links */
.Link:hover, a:hover
{
  color:#f80;
  text-shadow: 0px 0px 0.1em #f00;
}

/* layer 1,2 and 3 are elements that are grouped in one another.
 * So Layer1 elements are parents of Layer2 elements and so on*/
section, .Layer1
{
  background-color:#222;
}

.Layer2
{
  background-color:#333;
}

.Layer3
{
  background-color:#444;
}

/* code elements, quotes and reshares */
.PostBody > code, .PostBody > blockquote, .PostBody > q, .PostBody > .shared_content
{
  background-color:#555;
  border-color:#f00;
}

/* every border has this color, except buttons */
.Border, .BottomLine
{
  border-color: #880;
}

/* special colors for menus */
.Menu
{
  background-color:#640;
}

/* text input fields: some can't be modified (missing template names), so there's input and textarea */
.Field, input, textarea, .Textarea
{
  background-color:#320;
  color:#fff;
}

/* colors for buttons (and their borders) */
.Button, a.Button
{
  background-color:#400;
  color: #f40;
  border-color: #800;
}

/* colors for hovered buttons */
.Button:hover, a.Button:hover
{
  background-color:#800;
}

/* selected buttons and other selected elements */
.Selected, a.Button.Selected
{
  background-color:#800;
}

/* each popup "window" has these colors */
.Popup
{
  color:#ff0;
  background-color:#440;
}

/* the navigation bar can have different colors than other elements */
nav
{
  /* we want 4/5 of the nav bar to have the same color. the last 1/5 has the actual gradient to transparent */
  background: linear-gradient(to bottom, #f40, #f60, #f40, #b20, #820, rgba(0, 0, 0, 0));
  color:#fff;
}

/* links in the nav bar have a different color: */
nav .Link, nav a:link, nav a:visited
{
  color:#fff;
}

/* of course the links have to glow otherwise than normal ;) */
nav a:hover
{
  text-shadow: 0px 0px 0.1em #f00;
}

/* menus in the nav bar have the same background as the nav bar */
nav .Menu
{
  background-color:#820;
}